.sectionone{ 
    width: 100%;
    height: 80vh;
    background: no-repeat center center / cover ;
    background-size: cover;
}


.stickynav{
    position: fixed;
}


.navbar-one{
    background-color: #557796;
    color: white;
    height:50px;
    cursor: pointer;

}

.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.left > div + div{
    margin-left: 30px ;
}

.right > div + div{
    margin-left: 15px;
}

.left > div:hover
.right > div:hover{
    color: black;
    transition: all 0.5s;
}



li{
    list-style: none;
}

span{
    margin-left: 5px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    margin-left: 30px;
    color: black;
    font-weight: 400 ;
}

.spaceleft{
    margin-left: 20px;
}


h1{
    margin-top: 5%;
    margin-bottom: 4%;
}

.spaceright{
    margin-right: 20px;
}



.logo{
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    color: cadetblue;
}

.navbar-second{
    background-color: white;
    height: 100px;
    width: 100%;
    top: 0;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}



 footer {
        color: rgb(236, 236, 236);
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h3 {
font-family: 'Playfair Display', serif;
margin-bottom: 20px;
position: relative;
}
footer h3:after {
position: absolute;
content: "";
background: rgb(254, 254, 254);
width: 90%;
height: 1px;
left: 0;
bottom: -10px;
}
 .btn-footer {
             color: rgb(206, 206, 206);
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 10px;
            line-height: 47px;
            margin-left: -1%;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }

.content {
    display: flex;
    align-items: center;
  }
  
.footer-heading{
    width: 40%;
    margin-left: -2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-social {
    display: flex;
    
  }

  .footer {
    background-color: #0c2641;
  }
  
  footer ul li {
    list-style: none;
    display: block;
    }
    footer ul  {
    padding-left: 0;
    }
    footer ul  li a{
    text-decoration: none;
    color: rgb(220, 220, 220);
    text-decoration:none;
    }
    

.container {
    max-width: 150vh;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}

.facebook{
    color: #21409c;
  }

  .insta{
    color: #a527c5;
  }

  .twitter{
    color: #448bb6;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.footer-content {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    width: 90px;
    height: 70px;
    padding-right: 15%;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-social {
    display: flex;
  }

  .footer {
    background-color: #0c2641;
    padding: 20px 0;
  }
  footer ul li {
    list-style: none;
    display: block;
    }
    footer ul  {
    padding-left: 0;
    }
    footer ul  li a{
    text-decoration: none;
    color: rgb(220, 220, 220);
    text-decoration:none;
    }

    .form-footer input[type="button"] {
        border: none;
        background:#a6a6a6;
            margin-left: -5px;
        color: #fff;
        outline: none;
        border-radius: 0 16px 16px 0;
        padding: 2px 12px;
        }

        .logo-footer {
            margin-bottom: 40px;
         }
         footer {
                color: rgb(236, 236, 236);
         }
         footer p, a {
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        }
        footer h6 {
        font-family: 'Playfair Display', serif;
        margin-bottom: 20px;
        position: relative;
        }

        .long{
            width: 300px;
            margin-top: 1%;


        }
        .long2{
            float: right;

            width: 300px;
            margin-top: -9%;
        }


        footer h6:after {
        position: absolute;
        content: "";
        background: rgb(254, 254, 254);
        width: 12%;
        height: 1px;
        left: 0;
        bottom: -10px;
        }
         .btn-footer {
                     color: rgb(206, 206, 206);
                  
                    text-decoration: none;
                    border: 1px solid;
                    border-radius: 43px;
                    font-size: 13px;
                    padding: 7px 10px;
                    line-height: 47px;
                    margin-left: -1%;
         }
         .btn-footer:hover {
                    
                    text-decoration: none;
                   
         }
        .form-footer input[type="text"] {
            border: none;
        border-radius: 16px 0 0 16px;
        outline: none;
        padding-left: 10px;
        
        }

        .about_part {
            margin-top: 120px;
            z-index: 1;
            background-color: #a6c8e3;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 400;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .about_part .about_part_iner {
            padding: 35px;
            height: 70vh;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        
 .about_part .about_text .btn_3 {
    margin-top: 48px;
}

.picture{
    margin-left: 5%;
    margin-top: 5%;

}
.down{
    margin-bottom: 4%;
}
.colors{
    background-color:  #a6c8e3;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.styles{    
    margin-left: 3%;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3%;
    margin-left: 3%;
}

h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.size{
    margin-left: 1%;
    width: 57%;
    height: 20%;
    margin-bottom: 1%;
    border-radius: 20px;
}

.warn{
    background-color:rgba(198, 170, 60, 0.5);
    
}

button{
    margin-bottom: 3%;
}